* { transition: all 2s; }
body {
	background-color: black;
	color: #646464;
	font-size: 19px;
}
.mainContainer {
	width: 80%;
	margin: auto;
}
.addTask {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
input {
	width: 100%;
	margin: auto 25px;
	border-radius: 5px;
	color: #646464;
}
h1, h2 {
	color: white;
}

a {
	margin-left: 25px;
}
